<html>
    <head>
        <title>ScheduleMate</title>
        <h2>Are you sure you want to delete this Goal?</h2>
        <link rel="stylesheet" href="form.css">
    </head>
    <body>
        <form action="/delGoal:<%=id%>" class="delForm" method="POST">
            <button type="submit" class="delFormBtn">Yes</button>
            <a href="/editGoal:<%=id%>" class="delFormBtn">No</a>
        </form>
            
    </body>
</html>